# fly.toml file generated for tictac on 2021-03-30T14:23:18-06:00

app = "tictactoe"

kill_signal = "SIGTERM"
kill_timeout = 5

[experimental]
private_network = true

[[services]]
  internal_port = 4000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "30s" # allow some time for startup
    interval = "15s"
    port = 8080
    restart_limit = 6
    timeout = "2s"
